// @font-face {
//     font-family: Montserrat;
//     src: url("/static/fonts/Montserrat-Regular.otf");
// }

// @font-face {
//     font-family: Montserrat;
//     src: url("/static/fonts/Montserrat-Bold.otf");
//     font-weight: bold;
// }

@import url('https://fonts.cdnfonts.com/css/montserrat');

body {
    font-family: Montserrat;
    background-image: linear-gradient(to right, #FDEAC3, #FEC4D9);
    background-size: cover;
    color: #BA284A;
    padding: 30px;
    word-wrap: break-word;
}

.whatsapp-button {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-color: #25D366;
    border: none;
    border-radius: 8vw;
    color: white;
    padding: 15px;
    transition: 0.3s;
    margin: 30px 0;

    img {
        height: 20px;
        object-fit: contain;
        margin: 5px
    }
}

.whatsapp-button:hover {
    transform: scale(1.05);
}

h1 {
    margin-top: 0;
}

p {
    line-height: 1.6;
}