<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medwe</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="main-container">
        <h1>Olá, [field id="nome_de_formulario"]</h1>
        <p>
            Recebemos a sua solicitação para participar da Masterclass: Os Segredos dos Recém-Nascidos.
            <br><br>
            Temos certeza que será um divisor de águas na sua maternidade.
            <br><br>
            Afinal, você terá o acompanhamento de duas médicas pediatras que trabalham todos os dias com mães e bebês.
            <br><br>
            Porém, para você receber o link da aula e todo o nosso conteúdo exclusivo, você precisa entrar no nosso
            grupo
            VIP do Whats app, pois é pelo grupo que vamos manter a nossa comunicação.
            <br><br>
            Logo, clique no link abaixo para entrar no grupo:
        </p>

        <a class="whatsapp-button" href="https://chat.whatsapp.com/BYhIKy5yB5w2v0ACyKOK99">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="">
            ENTRAR NO GRUPO VIP DO
            WHATSAPP
        </a>

        <p>
            Por fim, te convido a favoritar ou até mesmo responder esse e-mail, nos dizendo o seu nome e a sua idade.
            Queremos te conhecer melhor!
            <br><br>
            Um abraço e até breve
            <br><br>
            Ass: Dra. Natália e Dra. Daniela
        </p>
    </div>
</body>

</html>